.blank3,
.company-logo3 {
  width: 128px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.blank3 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--headline-l-mobile-semi-bold);
  color: var(--color-mediumblue-100);
  text-align: left;
  height: 32px;
}
.company-logo3 {
  flex-direction: column;
  justify-content: center;
}
.home5 {
  text-decoration: none;
  position: relative;
  font-size: var(--button-size);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--headline-l-mobile-semi-bold);
  color: var(--color-mediumblue-100);
  text-align: left;
}
.home5:hover,
.sign-up3:hover {
  color: var(--color-mediumblue-200);
}
.nav-links3 {
  width: 293px;
  height: 22px;
  flex-shrink: 0;
}
.links5,
.nav-links3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.log-in3,
.sign-up3 {
  position: relative;
  font-size: var(--button-size);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--headline-l-mobile-semi-bold);
  text-align: left;
}
.sign-up3 {
  text-decoration: none;
  color: var(--color-mediumblue-100);
  cursor: pointer;
}
.log-in3 {
  color: var(--base-white);
}
.login-button3,
.signup-and-login3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login-button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-lg);
  background-color: var(--color-mediumblue-100);
  border-radius: var(--br-5xs);
  height: 46px;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
}
.continue-button:hover,
.login-button3:hover {
  background-color: var(--color-mediumblue-200);
}
.signup-and-login3 {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.icon15 {
  position: relative;
  width: 20px;
  height: 13.33px;
  flex-shrink: 0;
}
.hamburger-icon3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons5 {
  justify-content: flex-end;
  gap: var(--gap-5xl);
}
.buttons5,
.internal-nav3,
.navbar3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.internal-nav3 {
  flex: 1;
  padding: 0 var(--padding-13xl);
  justify-content: space-between;
}
.navbar3 {
  align-self: stretch;
  background-color: var(--base-white);
  border-bottom: 1px solid var(--color-gray-100);
  padding: var(--padding-xl) var(--padding-61xl);
  justify-content: center;
}
.text33,
.text34 {
  position: relative;
  font-family: var(--headline-l-mobile-semi-bold);
  text-align: center;
}
.text33 {
  align-self: stretch;
  font-size: var(--headline-xl-mobile-semi-bold-size);
  letter-spacing: -0.02em;
  line-height: 44px;
  font-weight: 500;
  color: var(--color-black);
}
.text34 {
  flex: 1;
  font-size: var(--enter-your-email-reset-size);
  letter-spacing: -0.1px;
  line-height: 26px;
  color: var(--color-gray-200);
}
.email-text2,
.heading25 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.heading25 {
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.label14 {
  cursor: pointer;
  align-self: stretch;
  position: relative;
  font-size: var(--footer-button-size);
  letter-spacing: -0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--headline-l-mobile-semi-bold);
  color: var(--color-black);
  text-align: left;
}
.input-box4 {
  border: 1px solid var(--color-gainsboro-100);
  background-color: var(--base-white);
  align-self: stretch;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  height: 46px;
  flex-shrink: 0;
  overflow: hidden;
}
.email-box2 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.continue-button,
.email-box2,
.input-form2 {
  align-self: stretch;
  display: flex;
}
.input-form2 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.continue-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-mediumblue-100);
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text36 {
  position: relative;
  font-size: var(--button-size);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--headline-l-mobile-semi-bold);
  color: var(--color-mediumblue-100);
  text-align: left;
}
.cancel-button2 {
  cursor: pointer;
  border: 1px solid var(--color-mediumblue-100);
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--base-white);
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon16 {
  position: relative;
  width: 13.32px;
  height: 12px;
  flex-shrink: 0;
}
.arrow-icon2 {
  text-decoration: none;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.back-link {
  text-decoration: none;
  position: relative;
  font-size: var(--button-size);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--headline-l-mobile-semi-bold);
  color: var(--color-gray-200);
  text-align: left;
}
.footer1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.footer-area2,
.reset-password-form {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.footer-area2 {
  align-self: stretch;
  height: 94px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.reset-password-form {
  border-radius: var(--br-8xs);
  background-color: var(--base-white);
  width: 424px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.remember-password-image {
  position: relative;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  object-fit: cover;
}
.inner-main2 {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-44xl);
}
.inner-main2,
.main2,
.remember-password {
  display: flex;
  align-items: center;
}
.main2 {
  align-self: stretch;
  height: 814px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-134xl) var(--padding-175xl-5);
  box-sizing: border-box;
  justify-content: center;
}
.remember-password {
  position: relative;
  background-color: var(--base-white);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 1200px) {
  .nav-links3 {
    gap: var(--gap-13xl);
  }
  .input-box4 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .inner-main2 {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
  }
}
@media screen and (max-width: 960px) {
  .nav-links3 {
    gap: var(--gap-xl);
  }
  .nav-links3,
  .signup-and-login3 {
    display: none;
  }
  .hamburger-icon3 {
    display: flex;
  }
  .navbar3 {
    padding: var(--padding-3xs) var(--padding-21xl);
    box-sizing: border-box;
  }
  .reset-password-form {
    width: 400px;
  }
  .remember-password-image {
    display: none;
  }
  .inner-main2,
  .main2 {
    justify-content: center;
  }
  .inner-main2 {
    flex: 1;
    align-items: flex-end;
  }
  .main2 {
    align-items: center;
    padding-left: var(--padding-175xl);
    padding-right: var(--padding-175xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .nav-links3 {
    gap: var(--gap-xl);
  }
  .nav-links3,
  .signup-and-login3 {
    display: none;
  }
  .hamburger-icon3 {
    display: flex;
  }
  .navbar3 {
    padding: var(--padding-3xs) 0;
    box-sizing: border-box;
  }
  .cancel-button2 {
    display: flex;
  }
  .cancel-button2:hover {
    background-color: var(--color-mediumblue-200);
    border: 1px solid var(--color-mediumblue-200);
    box-sizing: border-box;
  }
  .cancel-button2:hover .text36 {
    color: var(--base-white);
  }
  .footer1 {
    display: none;
  }
  .footer-area2 {
    gap: var(--gap-mini);
  }
  .reset-password-form {
    flex: 1;
  }
  .inner-main2 {
    width: 350px;
    gap: var(--gap-0);
  }
  .main2 {
    padding-left: var(--padding-131xl);
    padding-top: 0;
    padding-right: var(--padding-131xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1140px) {
  .navbar3 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .footer1 {
    display: none;
  }
  .footer-area2 {
    gap: var(--gap-mini);
  }
  .main2 {
    padding-left: var(--padding-101xl);
    padding-top: 0;
    padding-right: var(--padding-101xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 390px) {
  .inner-main2 {
    width: 280px;
  }
}
