<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/AboutUs.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="about-us">
      <nav class="navbar5">
        <div class="internal-nav5">
          <div class="links10">
            <div class="company-logo5">
              <a class="blank6" href="/">Blank</a>
            </div>
            <div class="nav-links5">
              <a class="home8" href="/">Home</a
              ><a class="home8" href="pricing">Pricing</a
              ><a class="home8" href="AboutUs">About</a
              ><a class="home8" href="contact">Contact</a>
            </div>
          </div>
          <div class="buttons7">
            <div class="signup-and-login5">
              <a class="sign-up5" href="Register" id="signUp"
                >Sign up</a
              ><button class="login-button5" id="loginButton">
                <div class="log-in5">Log in</div>
              </button>
            </div>
            <button class="hamburger-icon5" id="hamburgerIcon">
              <img class="icon44" alt="" src="../public/icon.svg" />
            </button>
          </div>
        </div>
      </nav>
      <main class="inner-container33">
        <div class="hero-section2">
          <div class="inner-container34">
            <div class="text-section">
              <div class="inner-container35">
                <div class="main-text1">
                  <div class="company-name">
                    <div class="text70">Blank</div>
                  </div>
                  <div class="paragraph">
                    <b class="heading29">Meet Our Expert Team</b>
                    <div class="subheading20">
                      Dedicated professionals delivering exceptional sentiment
                      analysis service with years of experience and commitment
                      to industry advancements.
                    </div>
                  </div>
                </div>
                <button class="contact-button" id="contactButton">
                  <div class="text71">Contact</div>
                </button>
              </div>
            </div>
            <div class="image-section">
              <img
                class="about-us-image"
                alt=""
                src="../public/about-us-image@2x.png"
              />
            </div>
          </div>
        </div>
        <div class="why-section">
          <div class="headline35">
            <div class="text-container35">
              <div class="inner-container36">
                <b class="headline36">Why Choose Us</b>
                <div class="subtitle25">
                  Experience the Benefits of Working with Our Expert Sentiment
                  Analysis Team for Actionable Customer Insights.
                </div>
              </div>
            </div>
          </div>
          <div class="container5">
            <div class="inner-container37">
              <div class="content4">
                <div class="box13">
                  <div class="inner-container38">
                    <div class="icon110">
                      <img
                        class="image1-icon"
                        alt=""
                        src="../public/image1@2x.png"
                      />
                    </div>
                    <div class="paragraph-container">
                      <div class="heading30">Expertise</div>
                      <div class="subtitle25">
                        We have a team of experienced professionals dedicated to
                        delivering exceptional services.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box23">
                  <div class="inner-container38">
                    <div class="icon210">
                      <img
                        class="image1-icon"
                        alt=""
                        src="../public/image2@2x.png"
                      />
                    </div>
                    <div class="paragraph-container">
                      <div class="heading30">Cutting-Edge Technology</div>
                      <div class="subtitle25">
                        We use the latest advancements to provide accurate and
                        actionable insights.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box23">
                  <div class="inner-container38">
                    <div class="icon310">
                      <img
                        class="image1-icon"
                        alt=""
                        src="../public/image3@2x.png"
                      />
                    </div>
                    <div class="paragraph-container">
                      <div class="heading30">Results-Driven</div>
                      <div class="subtitle25">
                        Our services are tailored to meet the specific needs and
                        goals of each client.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-details">
          <div class="headline35">
            <div class="text-container35">
              <div class="inner-container36">
                <b class="headline36">Meet Our Team</b>
                <div class="subtitle25">
                  Get to Know the Experts Behind Our Sentiment Analysis Services
                  and Their Dedication to Your Success
                </div>
              </div>
            </div>
          </div>
          <div class="main-content7">
            <div class="cards">
              <div class="card1">
                <div class="image11">
                  <img
                    class="ritik-khandelwal-image"
                    alt=""
                    src="../public/ritik-khandelwal-image@2x.png"
                  />
                </div>
                <div class="vertical-container4">
                  <div class="text72">
                    <div class="headline39">
                      <div class="name">Ritik Khandelwal</div>
                      <div class="designation">Team Leader</div>
                    </div>
                    <div class="work-done">
                      <p class="website-designing">&nbsp;</p>
                      <p class="website-designing">Website Designing.</p>
                      <p class="website-designing">Front-End Development.</p>
                      <p class="website-designing">
                        Sentiment Analysis Model (Core).
                      </p>
                      <p class="website-designing">Deployment.</p>
                    </div>
                  </div>
                  <div class="social-media">
                    <div class="facebook2" id="facebook">
                      <button class="facebook-icon2" id="facebookIcon">
                        <div class="capa-22">
                          <div class="elements2">
                            <img
                              class="vector-icon16"
                              alt=""
                              src="../public/vector17.svg"
                            />
                          </div>
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="instagram">
                      <button class="instagram-icon2" id="instagramIcon">
                        <div class="vector-frame">
                          <img
                            class="vector-icon16"
                            alt=""
                            src="../public/vector1.svg"
                          />
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="linkedin">
                      <button class="linkedin-icon2" id="linkedinIcon">
                        <div class="group2">
                          <img
                            class="vector-icon16"
                            alt=""
                            src="../public/vector10.svg"
                          />
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="gmail">
                      <button class="gmail-icon2" id="gmailIcon">
                        <div class="group-div">
                          <img
                            class="vector-icon19"
                            alt=""
                            src="../public/vector11.svg"
                          /><img
                            class="vector-icon20"
                            alt=""
                            src="../public/vector12.svg"
                          /><img
                            class="vector-icon21"
                            alt=""
                            src="../public/vector15.svg"
                          /><img
                            class="vector-icon22"
                            alt=""
                            src="../public/vector14.svg"
                          /><img
                            class="vector-icon23"
                            alt=""
                            src="../public/vector16.svg"
                          />
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card1">
                <div class="image21">
                  <img
                    class="suparna-dhara-image"
                    alt=""
                    src="../public/suparna-dhara-image@2x.png"
                  />
                </div>
                <div class="vertical-container5">
                  <div class="text73">
                    <div class="headline40">
                      <div class="name">Suparna Dhara</div>
                      <div class="designation">Team Member</div>
                    </div>
                    <div class="work-done">
                      <p class="website-designing">&nbsp;</p>
                      <p class="website-designing">Website Designing.</p>
                      <p class="website-designing">Front-End Development.</p>
                      <p class="website-designing">
                        Sentiment Analysis Model (Core).
                      </p>
                    </div>
                  </div>
                  <div class="social-media">
                    <div class="facebook2" id="facebook1">
                      <button class="facebook-icon2" id="facebookIcon1">
                        <div class="capa-22">
                          <div class="elements2">
                            <img
                              class="vector-icon16"
                              alt=""
                              src="../public/vector17.svg"
                            />
                          </div>
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="instagram1">
                      <button class="instagram-icon2" id="instagramIcon1">
                        <div class="vector-frame">
                          <img
                            class="vector-icon16"
                            alt=""
                            src="../public/vector1.svg"
                          />
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="linkedin1">
                      <button class="linkedin-icon2" id="linkedinIcon1">
                        <div class="group2">
                          <img
                            class="vector-icon16"
                            alt=""
                            src="../public/vector10.svg"
                          />
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="gmail1">
                      <button class="gmail-icon2" id="gmailIcon1">
                        <div class="group-div">
                          <img
                            class="vector-icon19"
                            alt=""
                            src="../public/vector11.svg"
                          /><img
                            class="vector-icon20"
                            alt=""
                            src="../public/vector12.svg"
                          /><img
                            class="vector-icon21"
                            alt=""
                            src="../public/vector15.svg"
                          /><img
                            class="vector-icon22"
                            alt=""
                            src="../public/vector14.svg"
                          /><img
                            class="vector-icon23"
                            alt=""
                            src="../public/vector16.svg"
                          />
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cards">
              <div class="card1">
                <div class="image31">
                  <img
                    class="suparna-dhara-image"
                    alt=""
                    src="../public/abhishek-gupta-image@2x.png"
                  />
                </div>
                <div class="vertical-container4">
                  <div class="text73">
                    <div class="headline40">
                      <div class="name">Abhishek Gupta</div>
                      <div class="designation">Team Member</div>
                    </div>
                    <div class="work-done">
                      <p class="website-designing">&nbsp;</p>
                      <p class="website-designing">Back-End Development.</p>
                      <p class="website-designing">Testing.</p>
                      <p class="website-designing">&nbsp;</p>
                    </div>
                  </div>
                  <div class="social-media">
                    <div class="facebook2" id="facebook2">
                      <button class="facebook-icon2" id="facebookIcon2">
                        <div class="capa-22">
                          <div class="elements2">
                            <img
                              class="vector-icon16"
                              alt=""
                              src="../public/vector17.svg"
                            />
                          </div>
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="instagram2">
                      <button class="instagram-icon2" id="instagramIcon2">
                        <div class="vector-frame">
                          <img
                            class="vector-icon16"
                            alt=""
                            src="../public/vector1.svg"
                          />
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="linkedin2">
                      <button class="linkedin-icon2" id="linkedinIcon2">
                        <div class="group2">
                          <img
                            class="vector-icon16"
                            alt=""
                            src="../public/vector10.svg"
                          />
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="gmail2">
                      <button class="gmail-icon2" id="gmailIcon2">
                        <div class="group-div">
                          <img
                            class="vector-icon19"
                            alt=""
                            src="../public/vector11.svg"
                          /><img
                            class="vector-icon20"
                            alt=""
                            src="../public/vector12.svg"
                          /><img
                            class="vector-icon21"
                            alt=""
                            src="../public/vector15.svg"
                          /><img
                            class="vector-icon22"
                            alt=""
                            src="../public/vector14.svg"
                          /><img
                            class="vector-icon23"
                            alt=""
                            src="../public/vector16.svg"
                          />
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card1">
                <div class="image41">
                  <img
                    class="suparna-dhara-image"
                    alt=""
                    src="../public/supratim-sinha-image@2x.png"
                  />
                </div>
                <div class="vertical-container4">
                  <div class="text73">
                    <div class="headline40">
                      <div class="name">Supratim Sinha</div>
                      <div class="designation">Team Member</div>
                    </div>
                    <div class="work-done">
                      <p class="website-designing">&nbsp;</p>
                      <p class="website-designing">Back-End Development.</p>
                      <p class="website-designing">Testing.</p>
                      <p class="website-designing">&nbsp;</p>
                    </div>
                  </div>
                  <div class="social-media">
                    <div class="facebook2" id="facebook3">
                      <button class="facebook-icon2" id="facebookIcon3">
                        <div class="capa-22">
                          <div class="elements2">
                            <img
                              class="vector-icon16"
                              alt=""
                              src="../public/vector17.svg"
                            />
                          </div>
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="instagram3">
                      <button class="instagram-icon2" id="instagramIcon3">
                        <div class="vector-frame">
                          <img
                            class="vector-icon16"
                            alt=""
                            src="../public/vector1.svg"
                          />
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="linkedin3">
                      <button class="linkedin-icon2" id="linkedinIcon3">
                        <div class="group2">
                          <img
                            class="vector-icon16"
                            alt=""
                            src="../public/vector10.svg"
                          />
                        </div>
                      </button>
                    </div>
                    <div class="facebook2" id="gmail3">
                      <button class="gmail-icon2" id="gmailIcon3">
                        <div class="group-div">
                          <img
                            class="vector-icon19"
                            alt=""
                            src="../public/vector11.svg"
                          /><img
                            class="vector-icon20"
                            alt=""
                            src="../public/vector12.svg"
                          /><img
                            class="vector-icon21"
                            alt=""
                            src="../public/vector15.svg"
                          /><img
                            class="vector-icon22"
                            alt=""
                            src="../public/vector14.svg"
                          /><img
                            class="vector-icon23"
                            alt=""
                            src="../public/vector16.svg"
                          />
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer3">
        <div class="inner-container42">
          <div class="top-horizontal-container2">
            <div class="about-company2">
              <div class="headline40"><div class="text76">Blank</div></div>
              <div class="text-input4">
                <div class="text77">
                  Generate outside the box thinking with the possibility to
                  targtet the low.
                </div>
              </div>
            </div>
            <div class="links-vertical-container2">
              <div class="vertical-container8">
                <div class="heading33"><div class="text78">Access</div></div>
                <div class="links11">
                  <a class="home9" href="/">Home</a
                  ><a class="home9" href="AboutUs">About</a
                  ><a class="home9" href="contact">Contact</a
                  ><a class="home9" href="PrivacyPolicy">Privacy</a>
                </div>
              </div>
              <div class="vertical-container8">
                <div class="heading33"><div class="text78">Product</div></div>
                <div class="links11">
                  <a class="home9" href="Register">Signup</a
                  ><a class="home9" href="Login">Login</a
                  ><a class="home9" href="pricing">Pricing</a
                  ><a class="home9" href="Error">Tutorial</a>
                </div>
              </div>
            </div>
            <div class="subscribe2">
              <div class="heading35"><div class="text78">Subscribe</div></div>
              <div class="text-input5">
                <div class="subheading24">
                  <div class="text81">
                    Want to stay informed about our latest news, updates, and
                    special offers?
                  </div>
                </div>
                <div class="input2">
                  <div class="inner-container43">
                    <input
                      class="search2"
                      type="email"
                      placeholder="Email Address"
                    /><button class="subscribe-button2" id="subscribeButton">
                      <div class="text82">Subscribe</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-horizontal-container2">
            <div class="copyright-text2">
              © 2023 Blank. All Rights Reserved.
            </div>
            <div class="social-icons2">
              <button class="facebook6" id="facebook4">
                <div class="facebook-icon6">
                  <div class="capa-22">
                    <div class="elements2">
                      <img
                        class="vector-icon16"
                        alt=""
                        src="../public/vector17.svg"
                      />
                    </div>
                  </div>
                </div></button
              ><button class="facebook6" id="instagram4">
                <div class="instagram-icon6">
                  <div class="vector-frame">
                    <img
                      class="vector-icon16"
                      alt=""
                      src="../public/vector1.svg"
                    />
                  </div>
                </div></button
              ><button class="facebook6" id="linkedin4">
                <div class="linkedin-icon6">
                  <div class="group2">
                    <img
                      class="vector-icon16"
                      alt=""
                      src="../public/vector10.svg"
                    />
                  </div>
                </div></button
              ><button class="facebook6" id="gmail4">
                <div class="gmail-icon6">
                  <div class="group-div">
                    <img
                      class="vector-icon19"
                      alt=""
                      src="../public/vector18.svg"
                    /><img
                      class="vector-icon20"
                      alt=""
                      src="../public/vector19.svg"
                    /><img
                      class="vector-icon21"
                      alt=""
                      src="../public/vector20.svg"
                    /><img
                      class="vector-icon22"
                      alt=""
                      src="../public/vector6.svg"
                    /><img
                      class="vector-icon23"
                      alt=""
                      src="../public/vector21.svg"
                    />
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var signUp = document.getElementById("signUp");
      if (signUp) {
        signUp.addEventListener("click", function () {
          window.location.href = "Register";
        });
      }
      
      var loginButton = document.getElementById("loginButton");
      if (loginButton) {
        loginButton.addEventListener("click", function (e) {
          window.location.href = "Login";
        });
      }
      
      var hamburgerIcon = document.getElementById("hamburgerIcon");
      if (hamburgerIcon) {
        hamburgerIcon.addEventListener("click", function () {
          window.location.href = "Error";
        });
      }
      
      var contactButton = document.getElementById("contactButton");
      if (contactButton) {
        contactButton.addEventListener("click", function () {
          window.location.href = "contact";
        });
      }
      
      var facebookIcon = document.getElementById("facebookIcon");
      if (facebookIcon) {
        facebookIcon.addEventListener("click", function () {
          window.location.href = "https://www.facebook.com/";
        });
      }
      
      var facebook = document.getElementById("facebook");
      if (facebook) {
        facebook.addEventListener("click", function () {
          window.open("https://www.facebook.com/");
        });
      }
      
      var instagramIcon = document.getElementById("instagramIcon");
      if (instagramIcon) {
        instagramIcon.addEventListener("click", function () {
          window.location.href = "https://www.instagram.com/";
        });
      }
      
      var instagram = document.getElementById("instagram");
      if (instagram) {
        instagram.addEventListener("click", function () {
          window.open("https://www.instagram.com/");
        });
      }
      
      var linkedinIcon = document.getElementById("linkedinIcon");
      if (linkedinIcon) {
        linkedinIcon.addEventListener("click", function () {
          window.location.href = "http://linkedin.in/";
        });
      }
      
      var linkedin = document.getElementById("linkedin");
      if (linkedin) {
        linkedin.addEventListener("click", function () {
          window.open("http://linkedin.in/");
        });
      }
      
      var gmailIcon = document.getElementById("gmailIcon");
      if (gmailIcon) {
        gmailIcon.addEventListener("click", function () {
          window.location.href = "https://gmail.com/";
        });
      }
      
      var gmail = document.getElementById("gmail");
      if (gmail) {
        gmail.addEventListener("click", function () {
          window.open("https://mail.google.com/mail/u/0/#inbox");
        });
      }
      
      var facebookIcon1 = document.getElementById("facebookIcon1");
      if (facebookIcon1) {
        facebookIcon1.addEventListener("click", function () {
          window.location.href = "https://www.facebook.com/";
        });
      }
      
      var facebook1 = document.getElementById("facebook1");
      if (facebook1) {
        facebook1.addEventListener("click", function () {
          window.open("https://www.facebook.com/");
        });
      }
      
      var instagramIcon1 = document.getElementById("instagramIcon1");
      if (instagramIcon1) {
        instagramIcon1.addEventListener("click", function () {
          window.location.href = "https://www.instagram.com/";
        });
      }
      
      var instagram1 = document.getElementById("instagram1");
      if (instagram1) {
        instagram1.addEventListener("click", function () {
          window.open("https://www.instagram.com/");
        });
      }
      
      var linkedinIcon1 = document.getElementById("linkedinIcon1");
      if (linkedinIcon1) {
        linkedinIcon1.addEventListener("click", function () {
          window.location.href = "http://linkedin.in/";
        });
      }
      
      var linkedin1 = document.getElementById("linkedin1");
      if (linkedin1) {
        linkedin1.addEventListener("click", function () {
          window.open("http://linkedin.in/");
        });
      }
      
      var gmailIcon1 = document.getElementById("gmailIcon1");
      if (gmailIcon1) {
        gmailIcon1.addEventListener("click", function () {
          window.location.href = "https://gmail.com/";
        });
      }
      
      var gmail1 = document.getElementById("gmail1");
      if (gmail1) {
        gmail1.addEventListener("click", function () {
          window.open("https://mail.google.com/mail/u/0/#inbox");
        });
      }
      
      var facebookIcon2 = document.getElementById("facebookIcon2");
      if (facebookIcon2) {
        facebookIcon2.addEventListener("click", function () {
          window.location.href = "https://www.facebook.com/";
        });
      }
      
      var facebook2 = document.getElementById("facebook2");
      if (facebook2) {
        facebook2.addEventListener("click", function () {
          window.open("https://www.facebook.com/");
        });
      }
      
      var instagramIcon2 = document.getElementById("instagramIcon2");
      if (instagramIcon2) {
        instagramIcon2.addEventListener("click", function () {
          window.location.href = "https://www.instagram.com/";
        });
      }
      
      var instagram2 = document.getElementById("instagram2");
      if (instagram2) {
        instagram2.addEventListener("click", function () {
          window.open("https://www.instagram.com/");
        });
      }
      
      var linkedinIcon2 = document.getElementById("linkedinIcon2");
      if (linkedinIcon2) {
        linkedinIcon2.addEventListener("click", function () {
          window.location.href = "http://linkedin.in/";
        });
      }
      
      var linkedin2 = document.getElementById("linkedin2");
      if (linkedin2) {
        linkedin2.addEventListener("click", function () {
          window.open("http://linkedin.in/");
        });
      }
      
      var gmailIcon2 = document.getElementById("gmailIcon2");
      if (gmailIcon2) {
        gmailIcon2.addEventListener("click", function () {
          window.location.href = "https://gmail.com/";
        });
      }
      
      var gmail2 = document.getElementById("gmail2");
      if (gmail2) {
        gmail2.addEventListener("click", function () {
          window.open("https://mail.google.com/mail/u/0/#inbox");
        });
      }
      
      var facebookIcon3 = document.getElementById("facebookIcon3");
      if (facebookIcon3) {
        facebookIcon3.addEventListener("click", function () {
          window.location.href = "https://www.facebook.com/";
        });
      }
      
      var facebook3 = document.getElementById("facebook3");
      if (facebook3) {
        facebook3.addEventListener("click", function () {
          window.open("https://www.facebook.com/");
        });
      }
      
      var instagramIcon3 = document.getElementById("instagramIcon3");
      if (instagramIcon3) {
        instagramIcon3.addEventListener("click", function () {
          window.location.href = "https://www.instagram.com/";
        });
      }
      
      var instagram3 = document.getElementById("instagram3");
      if (instagram3) {
        instagram3.addEventListener("click", function () {
          window.open("https://www.instagram.com/");
        });
      }
      
      var linkedinIcon3 = document.getElementById("linkedinIcon3");
      if (linkedinIcon3) {
        linkedinIcon3.addEventListener("click", function () {
          window.location.href = "http://linkedin.in/";
        });
      }
      
      var linkedin3 = document.getElementById("linkedin3");
      if (linkedin3) {
        linkedin3.addEventListener("click", function () {
          window.open("http://linkedin.in/");
        });
      }
      
      var gmailIcon3 = document.getElementById("gmailIcon3");
      if (gmailIcon3) {
        gmailIcon3.addEventListener("click", function () {
          window.location.href = "https://gmail.com/";
        });
      }
      
      var gmail3 = document.getElementById("gmail3");
      if (gmail3) {
        gmail3.addEventListener("click", function () {
          window.open("https://mail.google.com/mail/u/0/#inbox");
        });
      }
      
      var subscribeButton = document.getElementById("subscribeButton");
      if (subscribeButton) {
        subscribeButton.addEventListener("click", function () {
          window.location.href = "Error";
        });
      }
      
      var facebook4 = document.getElementById("facebook4");
      if (facebook4) {
        facebook4.addEventListener("click", function () {
          window.location.href = "https://www.facebook.com/";
        });
      }
      
      var instagram4 = document.getElementById("instagram4");
      if (instagram4) {
        instagram4.addEventListener("click", function () {
          window.location.href = "https://www.instagram.com/";
        });
      }
      
      var linkedin4 = document.getElementById("linkedin4");
      if (linkedin4) {
        linkedin4.addEventListener("click", function () {
          window.location.href = "http://linkedin.in/";
        });
      }
      
      var gmail4 = document.getElementById("gmail4");
      if (gmail4) {
        gmail4.addEventListener("click", function () {
          window.location.href = "https://mail.google.com/mail/u/0/#inbox";
        });
      }
      </script>
  </body>
</html>
