<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="home">
      <nav class="navbar">
        <div class="internal-nav">
          <div class="links">
            <div class="company-logo">
              <a class="blank" href="/">Blank</a>
            </div>
            <div class="nav-links">
              <a class="pricing" href="/">Home</a
              ><a class="pricing" href="/pricing">Pricing</a
              ><a class="pricing" href="/AboutUs">About</a
              ><a class="pricing" href="/contact">Contact</a>
            </div>
          </div>
          <div class="buttons">
            <div class="signup-and-login">
              <a class="sign-up" href="/Register" id="signUp"
                >Sign up</a
              ><button class="login-button" id="loginButton">
                <div class="log-in">Log in</div>
              </button>
            </div>
            <button class="hamburger-icon" id="hamburgerIcon">
              <img class="icon" alt="" src="../public/icon.svg" />
            </button>
          </div>
        </div>
      </nav>
      <div class="inner-container">
        <div class="hero-section">
          <div class="inner-container1">
            <div class="upper">
              <div class="text-container">
                <div class="label">AI-Powered</div>
                <div class="headline">
                  <b class="heading"
                    ><p class="sentiment-analysis">Sentiment Analysis</p>
                    <p class="sentiment-analysis">
                      Listen to Your Customers' Voices
                    </p></b
                  >
                  <div class="subheading">
                    We offer advanced AI-powered sentiment analysis to help
                    businesses accurately identify the sentiment behind each
                    customer review.
                  </div>
                </div>
              </div>
              <div class="buttons1">
                <button class="button1" id="button1">
                  <div class="text">Unlock</div></button
                ><button class="button2" id="button2">
                  <div class="text1">Sign up</div>
                </button>
              </div>
            </div>
          </div>
          <div class="home-image">
            <img
              class="home-image-icon"
              alt=""
              src="../public/home-hero-image.png"
            />
          </div>
        </div>
        <div class="features">
          <div class="inner-container2">
            <div class="content">
              <div class="box1">
                <div class="text-content">
                  <div class="heading1">20+</div>
                  <div class="subheading1">
                    Detailed Insights from Your Uploaded Reviews!
                  </div>
                </div>
              </div>
              <div class="box1">
                <div class="text-content">
                  <div class="heading1">98%+</div>
                  <div class="subheading1">
                    Precise Analysis of Your Uploaded Reviews!
                  </div>
                </div>
              </div>
              <div class="box1">
                <div class="text-content">
                  <div class="heading1">5+</div>
                  <div class="subheading1">
                    Variety of Reviews can be analyzed to Gain Diverse Insights!
                  </div>
                </div>
              </div>
              <div class="box1">
                <div class="text-content">
                  <div class="heading1">100+</div>
                  <div class="subheading1">
                    Reviews cab be stored in Our Database!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials">
          <div class="headline1">
            <div class="inner-container3">
              <div class="text-content4">
                <b class="heading5">Benefits</b>
                <div class="subheading1">
                  Unlock the full potential of your customer feedback with our
                  AI-powered sentiment analysis service, providing valuable
                  insights to help you improve your business and gain a
                  competitive edge.
                </div>
              </div>
            </div>
          </div>
          <div class="main-content">
            <div class="text2">
              <div class="inner-container4">
                <div class="label1">1 / Many</div>
                <div class="text-container1">
                  <div class="heading6">Accurate sentiment analysis:</div>
                  <div class="subheading1">
                    Our cutting-edge technology accurately identifies the
                    sentiment behind each customer review, providing you with
                    valuable insights to improve your customer experience.
                  </div>
                </div>
              </div>
            </div>
            <div class="image">
              <img
                class="benefit-image1-icon"
                alt=""
                src="../public/benefit-image1@2x.png"
              />
            </div>
          </div>
        </div>
        <div class="benefits2">
          <div class="main-content1">
            <div class="image1">
              <img
                class="benefit-image1-icon"
                alt=""
                src="../public/benefit-image2@2x.png"
              />
            </div>
            <div class="text3">
              <div class="inner-container4">
                <div class="label1">2 / Many</div>
                <div class="text-container1">
                  <div class="heading6">Time-saving:</div>
                  <div class="subheading1">
                    With our automated system, you can save time and resources
                    by analyzing thousands of customer reviews in a matter of
                    minutes.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="benefits2">
          <div class="main-content1">
            <div class="text2">
              <div class="inner-container4">
                <div class="label1">3 / Many</div>
                <div class="text-container1">
                  <div class="heading6">Cost-effective:</div>
                  <div class="subheading1">
                    Our AI-powered sentiment analysis service is cost-effective
                    compared to manual analysis, saving you money and providing
                    you with valuable insights.
                  </div>
                </div>
              </div>
            </div>
            <div class="image2">
              <img
                class="benefit-image1-icon"
                alt=""
                src="../public/benefit-image3@2x.png"
              />
            </div>
          </div>
        </div>
        <div class="benefits2">
          <div class="main-content1">
            <div class="image3">
              <img
                class="benefit-image1-icon"
                alt=""
                src="../public/benefit-image4@2x.png"
              />
            </div>
            <div class="text3">
              <div class="inner-container4">
                <div class="label1">4 / Many</div>
                <div class="text-container1">
                  <div class="heading6">Actionable insights:</div>
                  <div class="subheading1">
                    Our expert team provides you with actionable insights that
                    enable you to make informed decisions, identify trends, and
                    improve your business.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="benefits2">
          <div class="main-content1">
            <div class="text2">
              <div class="inner-container4">
                <div class="label1">5 / Many</div>
                <div class="text-container1">
                  <div class="heading6">Competitive advantage:</div>
                  <div class="subheading1">
                    With our AI-powered sentiment analysis service, you can
                    unlock the true voice of your customers, gaining a
                    competitive edge over your competitors.
                  </div>
                </div>
              </div>
            </div>
            <div class="image4">
              <img
                class="benefit-image1-icon"
                alt=""
                src="../public/benefit-image5@2x.png"
              />
            </div>
          </div>
        </div>
        <div class="free-trial">
          <div class="headline1">
            <div class="inner-container3">
              <div class="text-content4">
                <b class="heading5">Not Sure About It?</b>
                <div class="subheading1">
                  Gain a competitive edge by unlocking valuable customer
                  feedback with our free trial of AI-powered sentiment analysis.
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="emojis">
              <img class="emoji-icon" alt="" src="../public/emoji@2x.png" /><img
                class="emoji-icon1"
                alt=""
                src="../public/emoji1@2x.png"
              /><img
                class="emoji-icon2"
                alt=""
                src="../public/emoji2@2x.png"
              /><img
                class="emoji-icon3"
                alt=""
                src="../public/emoji3@2x.png"
              /><img
                class="emoji-icon4"
                alt=""
                src="../public/emoji4@2x.png"
              /><img
                class="emoji-icon5"
                alt=""
                src="../public/emoji5@2x.png"
              /><img
                class="emoji-icon6"
                alt=""
                src="../public/emoji6@2x.png"
              /><img
                class="emoji-icon7"
                alt=""
                src="../public/emoji7@2x.png"
              /><img
                class="emoji-icon8"
                alt=""
                src="../public/emoji8@2x.png"
              /><img
                class="emoji-icon9"
                alt=""
                src="../public/emoji9@2x.png"
              /><img
                class="emoji-icon10"
                alt=""
                src="../public/emoji10@2x.png"
              /><img
                class="emoji-icon11"
                alt=""
                src="../public/emoji11@2x.png"
              /><img
                class="emoji-icon12"
                alt=""
                src="../public/emoji12@2x.png"
              /><img
                class="emoji-icon13"
                alt=""
                src="../public/emoji13@2x.png"
              /><img
                class="emoji-icon14"
                alt=""
                src="../public/emoji14@2x.png"
              /><img
                class="emoji-icon15"
                alt=""
                src="../public/emoji15@2x.png"
              /><img
                class="emoji-icon16"
                alt=""
                src="../public/emoji16@2x.png"
              /><img
                class="emoji-icon17"
                alt=""
                src="../public/emoji17@2x.png"
              /><img
                class="emoji-icon18"
                alt=""
                src="../public/emoji18@2x.png"
              /><img
                class="emoji-icon19"
                alt=""
                src="../public/emoji19@2x.png"
              /><img
                class="emoji-icon20"
                alt=""
                src="../public/emoji20@2x.png"
              /><img
                class="emoji-icon21"
                alt=""
                src="../public/emoji21@2x.png"
              /><img
                class="emoji-icon22"
                alt=""
                src="../public/emoji22@2x.png"
              /><img
                class="emoji-icon23"
                alt=""
                src="../public/emoji23@2x.png"
              />
            </div>
            <div class="container1">
              <div class="free-trial-button">
                <a class="text7" href="/Error">Try for free</a>
                <div class="arrow-icon">
                  <img
                    class="home-arrow-icon"
                    alt=""
                    src="../public/try-now-arrow.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="download-excel-format">
          <div class="inner-container10">
            <div class="text-box">
              <div class="text2">
                <div class="inner-container4">
                  <div class="label1">Get Started</div>
                  <div class="text-container1">
                    <div class="heading6">
                      Streamline Your Sentiment Analysis by Downloading Our MS
                      Excel Format
                    </div>
                    <div class="subheading1">
                      Our Excel format includes all the necessary fields and
                      formulas to help you get the most out of our sentiment
                      analysis service.
                    </div>
                  </div>
                </div>
              </div>
              <div class="email-input">
                <div class="inner-container11">
                  <input
                    class="search-box"
                    type="email"
                    placeholder="Email Address"
                    required
                  /><button class="download-button" id="downloadButton">
                    <div class="text8">Download</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tutorial-section">
          <div class="headline1">
            <div class="inner-container3">
              <div class="text-content4">
                <b class="heading5">How to Use</b>
                <div class="subheading1">
                  Gain Actionable Insights into Customer Feedback with our
                  Practical Tutorials on How to Use Our Sentiment Analysis
                  Service
                </div>
              </div>
            </div>
          </div>
          <div class="content1">
            <div class="box11">
              <div class="inner-container13">
                <div class="image5">
                  <img
                    class="how-to-use1"
                    alt=""
                    src="../public/how-to-use1.png"
                  />
                </div>
                <div class="icon-content">
                  <div class="user-icon">
                    <img
                      class="home-user-icon"
                      alt=""
                      src="../public/home-user-icon.png"
                    />
                  </div>
                </div>
              </div>
              <div class="container2">
                <div class="logo">
                  <div class="text-container7">
                    <div class="upper1">
                      <div class="label7">
                        <div class="text9">Supratim</div>
                      </div>
                      <div class="date">25 Apr. 2023</div>
                    </div>
                    <div class="headline5">
                      <div class="heading14">
                        An Overview of Our Sentiment Analysis Services:
                      </div>
                      <div class="subheading1">
                        In this editorial, we provide an overview of our
                        sentiment analysis services and how they can help
                        businesses succeed.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box21">
              <div class="inner-container13">
                <div class="image6">
                  <img
                    class="how-to-use1"
                    alt=""
                    src="../public/how-to-use2.png"
                  />
                </div>
                <div class="icon-content">
                  <div class="user-icon">
                    <img
                      class="home-user-icon"
                      alt=""
                      src="../public/home-user-icon.png"
                    />
                  </div>
                </div>
              </div>
              <div class="container2">
                <div class="logo">
                  <div class="text-container7">
                    <div class="upper1">
                      <div class="label7">
                        <div class="text9">Abhishek</div>
                      </div>
                      <div class="date">25 Apr. 2023</div>
                    </div>
                    <div class="headline5">
                      <div class="heading14">
                        How to Get Started with Your First Sentiment Analysis:
                      </div>
                      <div class="subheading1">
                        In this editorial, we provide a step-by-step guide to
                        help businesses get started with their first sentiment
                        analysis.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box21">
              <div class="inner-container13">
                <div class="image7">
                  <img
                    class="how-to-use1"
                    alt=""
                    src="../public/how-to-use3.png"
                  />
                </div>
                <div class="icon-content">
                  <div class="user-icon">
                    <img
                      class="home-user-icon"
                      alt=""
                      src="../public/home-user-icon.png"
                    />
                  </div>
                </div>
              </div>
              <div class="container2">
                <div class="logo">
                  <div class="text-container7">
                    <div class="upper1">
                      <div class="label7"><div class="text9">Suparna</div></div>
                      <div class="date">25 Apr. 2023</div>
                    </div>
                    <div class="headline5">
                      <div class="heading14">
                        A Tour of the Detailed Insights Analyzed by Our AI:
                      </div>
                      <div class="subheading1">
                        This editorial provides businesses with a tour of the
                        detailed insights analyzed by our AI in our sentiment
                        analysis services.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="inner-container19">
            <button class="tutorial-button" id="tutorialButton">
              <div class="text12">More</div>
              <div class="arrow-icon">
                <img class="home-arrow-icon" alt="" src="../public/home-arrow-icon.png" />
              </div>
            </button>
          </div>
        </div>
        <div class="testimonials">
          <div class="headline1">
            <div class="inner-container3">
              <div class="text-content4">
                <b class="heading5">Raving Reviews</b>
                <div class="subheading1">
                  Real Stories from Real Customers: Discover How Our Sentiment
                  Analysis Service Has Helped Businesses Succeed
                </div>
              </div>
            </div>
          </div>
          <div class="main-content5">
            <div class="box12">
              <div class="inner-container21">
                <div class="icon-group">
                  <div class="icon-content2">
                    <div class="star-icon">
                      <img class="icon1" alt="" src="../public/icon5.svg" />
                    </div>
                  </div>
                  <div class="icon-content3">
                    <div class="star-icon">
                      <img class="icon1" alt="" src="../public/icon5.svg" />
                    </div>
                  </div>
                  <div class="icon-content3">
                    <div class="star-icon">
                      <img class="icon1" alt="" src="../public/icon5.svg" />
                    </div>
                  </div>
                  <div class="icon-content3">
                    <div class="star-icon">
                      <img class="icon1" alt="" src="../public/icon5.svg" />
                    </div>
                  </div>
                  <div class="icon-content3">
                    <div class="star-icon">
                      <img class="icon1" alt="" src="../public/icon5.svg" />
                    </div>
                  </div>
                  <div class="icon-content3">
                    <div class="star-icon">
                      <img class="icon1" alt="" src="../public/icon5.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text13">
                Experience about 23% business growth with our service's
                insights.
              </div>
            </div>
            <img class="divider-icon" alt="" src="../public/divider.svg" />
            <div class="box22">
              <div class="inner-container22">
                <div class="icon-group1">
                  <div class="icon-content8">
                    <div class="star-icon">
                      <img class="icon7" alt="" src="../public/icon6.svg" />
                    </div>
                  </div>
                  <div class="icon-content8">
                    <div class="star-icon">
                      <img class="icon7" alt="" src="../public/icon7.svg" />
                    </div>
                  </div>
                  <div class="icon-content8">
                    <div class="star-icon">
                      <img class="icon7" alt="" src="../public/icon8.svg" />
                    </div>
                  </div>
                  <div class="icon-content8">
                    <div class="star-icon">
                      <img class="icon7" alt="" src="../public/icon6.svg" />
                    </div>
                  </div>
                  <div class="icon-content8">
                    <div class="star-icon">
                      <img class="icon7" alt="" src="../public/icon9.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text13">
                4 out of 5 stars from 52 reviews from our users
              </div>
            </div>
            <img class="divider-icon" alt="" src="../public/divider1.svg" />
            <div class="box12">
              <div class="inner-container23">
                <img class="icon12" alt="" src="../public/icon10.svg" />
              </div>
              <div class="text13">
                100+ businesses trust our sentiment analysis to drive growth.
              </div>
            </div>
          </div>
        </div>
        <div class="call-to-action">
          <div class="headline1">
            <div class="heading18">
              <div class="container1">
                <div class="heading6">
                  Don't Wait - Start Analyzing Your Customer Feedback Today
                </div>
              </div>
              <div class="buttons2">
                <button class="button11" id="button11">
                  <div class="text16">Create Account</div></button
                ><button class="button21" id="button21">
                  <div class="text17">Start Free Trial</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="inner-container25">
          <div class="top-horizontal-container">
            <div class="about-company">
              <div class="logo"><div class="text18">Blank</div></div>
              <div class="text-input">
                <div class="text19">
                  Generate outside the box thinking with the possibility to
                  targtet the low.
                </div>
              </div>
            </div>
            <div class="links-vertical-container">
              <div class="vertical-container">
                <div class="heading20"><div class="text20">Access</div></div>
                <div class="links1">
                  <a class="privacy" href="/">Home</a
                  ><a class="privacy" href="/AboutUs">About</a
                  ><a class="privacy" href="/contact">Contact</a
                  ><a class="privacy" href="/PrivacyPolicy">Privacy</a>
                </div>
              </div>
              <div class="vertical-container">
                <div class="heading20"><div class="text20">Product</div></div>
                <div class="links1">
                  <a class="privacy" href="/Register">Signup</a
                  ><a class="privacy" href="/Login">Login</a
                  ><a class="privacy" href="/pricing">Pricing</a
                  ><a class="privacy" href="/Error">Tutorial</a>
                </div>
              </div>
            </div>
            <div class="subscribe">
              <div class="heading22"><div class="text20">Subscribe</div></div>
              <div class="text-input1">
                <div class="free-trial-button">
                  <div class="text23">
                    Want to stay informed about our latest news, updates, and
                    special offers?
                  </div>
                </div>
                <div class="input">
                  <div class="inner-container26">
                    <input
                      class="search"
                      type="email"
                      placeholder="Email Address"
                    /><button class="subscribe-button" id="subscribeButton">
                      <div class="text24">Subscribe</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-horizontal-container">
            <div class="copyright-text">© 2023 Blank. All Rights Reserved.</div>
            <div class="social-icons">
              <button class="facebook" id="facebook">
                <div class="facebook-icon">
                  <div class="capa-2">
                    <div class="elements">
                      <img
                        class="vector-icon"
                        alt=""
                        src="../public/vector.svg"
                      />
                    </div>
                  </div>
                </div></button
              ><button class="facebook" id="instagram">
                <div class="instagram-icon">
                  <div class="vector-wrapper">
                    <img
                      class="vector-icon"
                      alt=""
                      src="../public/vector1.svg"
                    />
                  </div>
                </div></button
              ><button class="facebook" id="linkedin">
                <div class="linkedin-icon">
                  <div class="group">
                    <img
                      class="vector-icon"
                      alt=""
                      src="../public/vector2.svg"
                    />
                  </div>
                </div></button
              ><button class="facebook" id="gmail">
                <div class="gmail-icon">
                  <div class="vector-parent">
                    <img
                      class="vector-icon3"
                      alt=""
                      src="../public/vector3.svg"
                    /><img
                      class="vector-icon4"
                      alt=""
                      src="../public/vector4.svg"
                    /><img
                      class="vector-icon5"
                      alt=""
                      src="../public/vector5.svg"
                    /><img
                      class="vector-icon6"
                      alt=""
                      src="../public/vector6.svg"
                    /><img
                      class="vector-icon7"
                      alt=""
                      src="../public/vector7.svg"
                    />
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var signUp = document.getElementById("signUp");
      if (signUp) {
        signUp.addEventListener("click", function () {
          window.location.href = "/Register";
        });
      }
      
      var loginButton = document.getElementById("loginButton");
      if (loginButton) {
        loginButton.addEventListener("click", function (e) {
          window.location.href = "/Login";
        });
      }
      
      var hamburgerIcon = document.getElementById("hamburgerIcon");
      if (hamburgerIcon) {
        hamburgerIcon.addEventListener("click", function () {
          window.location.href = "/Error";
        });
      }
      
      var button1 = document.getElementById("button1");
      if (button1) {
        button1.addEventListener("click", function (e) {
          window.location.href = "/Login";
        });
      }
      
      var button2 = document.getElementById("button2");
      if (button2) {
        button2.addEventListener("click", function (e) {
          window.location.href = "/Register";
        });
      }
      
      var downloadButton = document.getElementById("downloadButton");
      if (downloadButton) {
        downloadButton.addEventListener("click", function () {
          window.location.href = "/Error";
        });
      }
      
      var tutorialButton = document.getElementById("tutorialButton");
      if (tutorialButton) {
        tutorialButton.addEventListener("click", function (e) {
          window.location.href = "/Error";
        });
      }
      
      var button11 = document.getElementById("button11");
      if (button11) {
        button11.addEventListener("click", function (e) {
          window.location.href = "/Register";
        });
      }
      
      var button21 = document.getElementById("button21");
      if (button21) {
        button21.addEventListener("click", function () {
          window.location.href = "/Error";
        });
      }
      
      var subscribeButton = document.getElementById("subscribeButton");
      if (subscribeButton) {
        subscribeButton.addEventListener("click", function () {
          window.location.href = "/Error";
        });
      }
      
      var facebook = document.getElementById("facebook");
      if (facebook) {
        facebook.addEventListener("click", function () {
          window.location.href = "https://www.facebook.com/";
        });
      }
      
      var instagram = document.getElementById("instagram");
      if (instagram) {
        instagram.addEventListener("click", function () {
          window.location.href = "https://www.instagram.com/";
        });
      }
      
      var linkedin = document.getElementById("linkedin");
      if (linkedin) {
        linkedin.addEventListener("click", function () {
          window.location.href = "http://linkedin.in/";
        });
      }
      
      var gmail = document.getElementById("gmail");
      if (gmail) {
        gmail.addEventListener("click", function () {
          window.location.href = "https://mail.google.com/mail/u/0/#inbox";
        });
      }
      </script>
  </body>
</html>
