<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>

    <!-- FONT AWESOME CDN LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <!-- CUSTOM CSS FILE LINK -->
    <link rel="stylesheet" href="../css/pricing.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

</head>

<body>

    <!-- HEADER SECTION STARTS  -->

    <nav class="navbar5">
        <div class="internal-nav5">
            <div class="links10">
                <div class="company-logo5">
                    <a class="blank6" href="/">Blank</a>
                </div>
                <div class="nav-links5">
                    <a class="home8" href="/">Home</a><a class="home8" href="pricing">Pricing</a><a
                        class="home8" href="AboutUs">About</a><a class="home8" href="contact">Contact</a>
                </div>
            </div>
            <div class="buttons7">
                <div class="signup-and-login5">
                    <a class="sign-up5" href="Register" id="signUp">Sign up</a><button class="login-button5"
                        id="loginButton">
                        <div class="log-in5">Log in</div>
                    </button>
                </div>
                <button class="hamburger-icon5" id="hamburgerIcon">
                    <img class="icon44" alt="" src="../public/icon.svg" />
                </button>
            </div>
        </div>
    </nav>

    <!-- HEADER SECTION STARTS  -->




    <!-- HOME SECTION STARTS  -->

    <section class="home" id="home">
        <h3>
            We’ve got a plan <br />
            that’s perfect for you
        </h3>
        <p>
            We believe in delivering value to our clients at a fair price. Whether you're a
            <br />
            small or a large business, we have a plan that fits your budget.
        </p>
    </section>

    <!-- HOME SECTION ENDS -->



    <!-- PRICING SECTION STARTS  -->

    <div class="container">
        <div class="Price-row">
            <div class="price-col" data-tilt>
                <h4>Monthly</h4>
                <h3>$ 20 per Month</span></h3>
                <button>Try Now</button>
            </div>
            <div class="price-col" data-tilt>
                <h4>Yearly</h4>
                <h3>$ 100 per Year</span></h3>
                <button>Try Now</button>
            </div>
            <div class="price-col" data-tilt>
                <h4>Lifetime</h4>
                <h3>$ 200 Lifetime</h3>
                <button>Try Now</button>
            </div>
        </div>
    </div>

    <!-- PRICING SECTION ENDS  -->




    <!-- HIGHLIGHT SECTION STARTS  -->

    <div class="call-to-action">
        <div class="headline1">
            <div class="heading18">
                <div class="container1">
                    <div class="heading6">
                        Not Sure About it? Get a Free Trial
                    </div>
                </div>
                <div class="buttons2">
                    <button class="button11" id="button11">
                        <div class="text16">Start Free Trial</div>
                    </button><button class="button21" id="button21">
                        <div class="text17">Create Account</div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- HIGHLIGHT SECTION ENDS  -->




    <!-- QUESTION SECTION STARTS  -->

    <div class="section">
        <h1>Top Questions About Our Pricing</h1>
        <div class="container-1">

            <div class="faq">
                <div class="question">
                    <h2>How Supports Works ?</h2>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="answer">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui nemo sequi consequuntur quasi
                        quaerat repudiandae deserunt alias cum.</p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h2>How Secure are your Payment Information ?</h2>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="answer">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui nemo sequi consequuntur quasi
                        quaerat repudiandae deserunt alias cum.</p>
                </div>
            </div>
        </div>

        <div class="container-2">

            <div class="faq">
                <div class="question">
                    <h2>What About the Refund Policy?</h2>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="answer">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui nemo sequi consequuntur quasi
                        quaerat repudiandae deserunt alias cum.</p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h2>Can I Cancel Subscription Anytime ?</h2>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="answer">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui nemo sequi consequuntur quasi
                        quaerat repudiandae deserunt alias cum.</p>
                </div>
            </div>
        </div>

    </div>

    <!-- QUESTION SECTION ENDS  -->




    <!-- FOOTER SECTION STARTS -->

    <footer class="footer3">
        <div class="inner-container42">
            <div class="top-horizontal-container2">
                <div class="about-company2">
                    <div class="headline40">
                        <div class="text76">Blank</div>
                    </div>
                    <div class="text-input4">
                        <div class="text77">
                            Generate outside the box thinking with the possibility to
                            targtet the low.
                        </div>
                    </div>
                </div>
                <div class="links-vertical-container2">
                    <div class="vertical-container8">
                        <div class="heading33">
                            <div class="text78">Access</div>
                        </div>
                        <div class="links11">
                            <a class="home9" href="/">Home</a><a class="home9"
                                href="AboutUs">About</a><a class="home9" href="contact">Contact</a><a
                                class="home9" href="PrivacyPolicy">Privacy</a>
                        </div>
                    </div>
                    <div class="vertical-container8">
                        <div class="heading33">
                            <div class="text78">Product</div>
                        </div>
                        <div class="links11">
                            <a class="home9" href="Register">Signup</a><a class="home9"
                                href="Login">Login</a><a class="home9" href="pricing">Pricing</a><a
                                class="home9" href="Error">Tutorial</a>
                        </div>
                    </div>
                </div>
                <div class="subscribe2">
                    <div class="heading35">
                        <div class="text78">Subscribe</div>
                    </div>
                    <div class="text-input5">
                        <div class="subheading24">
                            <div class="text81">
                                Want to stay informed about our latest news, updates, and
                                special offers?
                            </div>
                        </div>
                        <div class="input2">
                            <div class="inner-container43">
                                <input class="search2" type="email" placeholder="Email Address" /><button
                                    class="subscribe-button2" id="subscribeButton">
                                    <div class="text82">Subscribe</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-horizontal-container2">
                <div class="copyright-text2">© 2023 Blank. All Rights Reserved.</div>
                <div class="social-icons2">
                    <button class="facebook6" id="facebook4">
                        <div class="facebook-icon6">
                            <div class="capa-22">
                                <div class="elements2">
                                    <img class="vector-icon16" alt="" src="../public/vector17.svg" />
                                </div>
                            </div>
                        </div>
                    </button><button class="facebook6" id="instagram4">
                        <div class="instagram-icon6">
                            <div class="vector-frame">
                                <img class="vector-icon16" alt="" src="../public/vector1.svg" />
                            </div>
                        </div>
                    </button><button class="facebook6" id="linkedin4">
                        <div class="linkedin-icon6">
                            <div class="group2">
                                <img class="vector-icon16" alt="" src="../public/vector10.svg" />
                            </div>
                        </div>
                    </button><button class="facebook6" id="gmail4">
                        <div class="gmail-icon6">
                            <div class="group-div">
                                <img class="vector-icon19" alt="" src="../public/vector18.svg" /><img
                                    class="vector-icon20" alt="" src="../public/vector19.svg" /><img
                                    class="vector-icon21" alt="" src="../public/vector20.svg" /><img
                                    class="vector-icon22" alt="" src="../public/vector6.svg" /><img class="vector-icon23"
                                    alt="" src="../public/vector21.svg" />
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </footer>

    <!-- FOOTER SECTION STARTS  -->

    <script>
        var signUp = document.getElementById("signUp");
        if (signUp) {
            signUp.addEventListener("click", function () {
                window.location.href = "Register";
            });
        }

        var loginButton = document.getElementById("loginButton");
        if (loginButton) {
            loginButton.addEventListener("click", function (e) {
                window.location.href = "Login";
            });
        }
        var hamburgerIcon = document.getElementById("hamburgerIcon");
        if (hamburgerIcon) {
            hamburgerIcon.addEventListener("click", function () {
                window.location.href = "Error";
            });
        }

        var subscribeButton = document.getElementById("subscribeButton");
        if (subscribeButton) {
            subscribeButton.addEventListener("click", function () {
                window.location.href = "Error";
            });
        }

        var facebook4 = document.getElementById("facebook4");
        if (facebook4) {
            facebook4.addEventListener("click", function () {
                window.location.href = "https://www.facebook.com/";
            });
        }

        var instagram4 = document.getElementById("instagram4");
        if (instagram4) {
            instagram4.addEventListener("click", function () {
                window.location.href = "https://www.instagram.com/";
            });
        }

        var linkedin4 = document.getElementById("linkedin4");
        if (linkedin4) {
            linkedin4.addEventListener("click", function () {
                window.location.href = "http://linkedin.in/";
            });
        }

        var gmail4 = document.getElementById("gmail4");
        if (gmail4) {
            gmail4.addEventListener("click", function () {
                window.location.href = "https://mail.google.com/mail/u/0/#inbox";
            });
        }

        const question = document.querySelectorAll('.faq');

        question.forEach(faq => {
            faq.addEventListener("click", () => {
                faq.classList.toggle("active");
            })
        })
    </script>

</body>

</html>