<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/PrivacyPolicy.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="privacy-policy">
      <nav class="navbar4">
        <div class="internal-nav4">
          <div class="links6">
            <div class="company-logo4">
              <a class="blank4" href="/">Blank</a>
            </div>
            <div class="nav-links4">
              <a class="home6" href="/">Home</a
              ><a class="home6" href="pricing">Pricing</a
              ><a class="home6" href="AboutUs">About</a
              ><a class="home6" href="contact">Contact</a>
            </div>
          </div>
          <div class="buttons6">
            <div class="signup-and-login4">
              <a class="sign-up4" href="Register" id="signUp"
                >Sign up</a
              ><button class="login-button4" id="loginButton">
                <div class="log-in4">Log in</div>
              </button>
            </div>
            <button class="hamburger-icon4" id="hamburgerIcon">
              <img class="icon17" alt="" src="../public/icon.svg" />
            </button>
          </div>
        </div>
      </nav>
      <main class="inner-container27">
        <div class="hero-section1">
          <img
            class="privacy-image-icon"
            alt=""
            src="../public/hero-image@2x.png"
          />
        </div>
        <div class="header1">
          <div class="inner-container28">
            <div class="headline9">
              <b class="main-text">Privacy Policy</b>
              <div class="sub-text">
                Protecting Your Personal Information: Learn about Our
                Comprehensive Privacy Policy and How We Keep Your Data Safe.
              </div>
            </div>
            <div class="author">
              <div class="company-details">
                <div class="user-icon9">
                  <div class="user">
                    <img
                      class="person-icon"
                      alt=""
                      src="../public/person-icon.svg"
                    />
                  </div>
                </div>
                <div class="company"><div class="blank5">Blank</div></div>
              </div>
              <div class="modified-date">June 01st, 2023</div>
            </div>
          </div>
        </div>
        <div class="content2">
          <div class="inner-container29">
            <div class="main-content6">
              <div class="text-base">
                <div class="text-container10" data-scroll-to="text24">
                  <div class="headline10">Introduction</div>
                  <div class="subtitle">
                    <p class="welcome-to-the">
                      Welcome to the privacy policy of [insert company name]. We
                      are committed to protecting your privacy and your personal
                      data. This privacy policy explains how we collect, use,
                      and disclose your personal data when you use our website
                      [insert website address] and our sentiment analysis
                      services. We comply with applicable data protection laws,
                      including the General Data Protection Regulation (“GDPR”)
                      and the California Consumer Privacy Act (“CCPA”).
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      By accessing or using our website or services, you consent
                      to the collection, use, and disclosure of your personal
                      data as described in this privacy policy. If you do not
                      agree to this privacy policy, please do not use our
                      website or services.
                    </p>
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text23">
                  <div class="headline10">Information We Collect</div>
                  <div class="subtitle">
                    <p class="welcome-to-the">
                      We may collect the following types of information from
                      you:
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      a. Personal Data: Personal data is information that can
                      identify you or that can be used to identify you. We may
                      collect personal data when you provide it to us directly,
                      such as your name, email address, telephone number, and
                      any other information you provide when you contact us. We
                      may also collect personal data when you use our services,
                      such as the content of your customer reviews and feedback.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      b. Non-Personal Data: Non-personal data is information
                      that cannot be used to identify you. We may collect
                      non-personal data through cookies, log files, and other
                      tracking technologies. This may include your IP address,
                      browser type, operating system, pages visited, and other
                      usage data.
                    </p>
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text22">
                  <div class="headline10">How We Use Your Information</div>
                  <div class="subtitle">
                    <p class="welcome-to-the">
                      We may use your personal data for the following purposes:
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      a. To provide our services to you and to respond to your
                      inquiries and requests;
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      b. To improve our website and services and to personalize
                      your experience;
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      c. To communicate with you about updates or changes to our
                      services, promotions, or other relevant information;
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      d. To comply with legal and regulatory requirements;
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      e. To enforce our rights and to protect the safety and
                      security of our website and services;
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      f. To perform data analytics and research to improve our
                      services;
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      g. For any other purpose for which we have obtained your
                      consent.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      We may use non-personal data for any purpose, including
                      for data analytics and research, to improve our website
                      and services, and to personalize your experience.
                    </p>
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text21">
                  <div class="headline10">How We Share Your Information</div>
                  <div class="subtitle">
                    <p class="welcome-to-the">
                      We may share your personal data with third parties for the
                      following purposes:
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      a. Service Providers: We may share your personal data with
                      service providers who provide services to us, such as
                      hosting providers, IT support, and customer service
                      providers.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      b. Partners: We may share your personal data with our
                      partners, such as marketing partners and analytics
                      providers.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      c. Business Transfers: We may share your personal data in
                      connection with a merger, acquisition, or sale of all or a
                      portion of our assets.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      d. Legal Requirements: We may share your personal data if
                      we are required to do so by law or if we believe that such
                      disclosure is necessary to comply with legal and
                      regulatory requirements, to enforce our rights, or to
                      protect the safety and security of our website and
                      services.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      We will not sell or rent your personal data to third
                      parties.
                    </p>
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text20">
                  <div class="headline10">Data Retention</div>
                  <div class="subtitle">
                    We will retain your personal data for as long as necessary
                    to provide our services to you and to comply with legal and
                    regulatory requirements. We may also retain your personal
                    data for research and analytical purposes. We will securely
                    delete or anonymize your personal data when it is no longer
                    necessary for the purposes for which we collected it.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text19">
                  <div class="headline10">Data Security</div>
                  <div class="subtitle">
                    <p class="welcome-to-the">
                      We take appropriate technical and organizational measures
                      to protect your personal data from unauthorized access,
                      use, or disclosure. We use industry-standard encryption
                      and security measures to protect your personal data.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      However, please be aware that no method of transmission
                      over the internet or electronic storage is 100% secure.
                      Therefore, while we strive to protect your personal data,
                      we cannot guarantee its absolute security.
                    </p>
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text18">
                  <div class="headline10">Your Rights</div>
                  <div class="subtitle">
                    <p class="welcome-to-the">
                      You have certain rights with respect to your personal
                      data. These may include:
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      a. Right of Access: You have the right to request access
                      to the personal data we hold about you.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      b. Right of Rectification: You have the right to request
                      that we correct any inaccuracies in your personal data.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      c. Right of Erasure: You have the right to request that we
                      delete your personal data.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      d. Right to Object: You have the right to object to the
                      processing of your personal data for certain purposes.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      e. Right to Data Portability: You have the right to
                      receive a copy of your personal data in a structured,
                      commonly used, and machine-readable format.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      To exercise your rights, please contact us using the
                      contact details below.
                    </p>
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text17">
                  <div class="headline10">Children’s Privacy</div>
                  <div class="subtitle">
                    Our website and services are not directed at children under
                    the age of 13. We do not knowingly collect personal data
                    from children under the age of 13. If you are under the age
                    of 13, please do not use our website or services or provide
                    us with any personal data.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text16">
                  <div class="headline10">International Data Transfers</div>
                  <div class="subtitle">
                    We may transfer your personal data to countries outside of
                    the European Economic Area (“EEA”) and the United States of
                    America (“USA”), including countries that may not offer the
                    same level of data protection as your home country. In such
                    cases, we will ensure that appropriate safeguards are in
                    place to protect your personal data, such as the use of
                    standard contractual clauses approved by the European
                    Commission.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text15">
                  <div class="headline10">Cookies and Similar Technologies</div>
                  <div class="subtitle">
                    <p class="welcome-to-the">
                      Our website uses cookies and similar technologies to
                      improve your browsing experience and to personalize your
                      experience. Cookies are small data files that are placed
                      on your device when you visit our website. They help us to
                      remember your preferences and to understand how you
                      interact with our website. We use both session cookies,
                      which expire when you close your browser, and persistent
                      cookies, which remain on your device until they expire or
                      you delete them.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      You can control cookies through your browser settings.
                      However, please note that disabling cookies may limit your
                      ability to use certain features of our website.
                    </p>
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text14">
                  <div class="headline10">Third-Party Links</div>
                  <div class="subtitle">
                    Our website may contain links to third-party websites that
                    are not under our control. We are not responsible for the
                    content or privacy practices of such websites. We encourage
                    you to review the privacy policy and terms of use of any
                    third-party website you visit.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text13">
                  <div class="headline10">California Privacy Rights</div>
                  <div class="subtitle">
                    If you are a California resident, you may have certain
                    rights under the CCPA with respect to your personal data.
                    These may include the right to know what personal data we
                    have collected about you, the right to request deletion of
                    your personal data, and the right to opt-out of the sale of
                    your personal data. To exercise these rights, please contact
                    us using the contact details below.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text12">
                  <div class="headline10">Governing Law</div>
                  <div class="subtitle">
                    This privacy policy is governed by and construed in
                    accordance with the laws of [insert governing law]. Any
                    disputes arising under or in connection with this privacy
                    policy shall be subject to the exclusive jurisdiction of the
                    courts of [insert jurisdiction].
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text11">
                  <div class="headline10">
                    Data Controller and Data Protection Officer
                  </div>
                  <div class="subtitle">
                    The data controller for your personal data is [insert
                    company name], a company registered in [insert country] with
                    its registered office at [insert address]. Our Data
                    Protection Officer can be contacted at [insert contact
                    details].
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text10">
                  <div class="headline10">Consent and Acceptance</div>
                  <div class="subtitle">
                    By using our website and services, you acknowledge that you
                    have read and understood this privacy policy and agree to
                    our collection, use, and disclosure of your personal data as
                    described in this policy. If you do not agree to this
                    privacy policy, please do not use our website or services.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text9">
                  <div class="headline10">Severability</div>
                  <div class="subtitle">
                    If any provision of this privacy policy is held to be
                    invalid or unenforceable, such provision shall be struck and
                    the remaining provisions shall be enforced to the fullest
                    extent under the law.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text8">
                  <div class="headline10">Changes to this Privacy Policy</div>
                  <div class="subtitle">
                    We may update this privacy policy from time to time to
                    reflect changes to our practices or to comply with legal
                    requirements. The updated privacy policy will be posted on
                    our website and the date of the last update will be
                    indicated at the top of the page. We encourage you to review
                    this privacy policy periodically to stay informed about our
                    practices.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text7">
                  <div class="headline10">Limitation of Liability</div>
                  <div class="subtitle">
                    Under no circumstances shall [insert company name] be liable
                    for any indirect, incidental, consequential, special, or
                    punitive damages arising out of or related to this privacy
                    policy or the use of our website or services, even if we
                    have been advised of the possibility of such damages. Our
                    liability to you for any claim arising out of or in
                    connection with this privacy policy or the use of our
                    website or services shall be limited to the amount paid by
                    you, if any, for our services.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text6">
                  <div class="headline10">Indemnification</div>
                  <div class="subtitle">
                    You agree to indemnify and hold [insert company name], its
                    affiliates, officers, directors, employees, agents, and
                    representatives harmless from and against any and all
                    claims, liabilities, damages, losses, costs, and expenses,
                    including reasonable attorneys' fees, arising out of or in
                    connection with your use of our website or services or any
                    breach of this privacy policy.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text5">
                  <div class="headline10">Assignment</div>
                  <div class="subtitle">
                    We may assign this privacy policy, in whole or in part, to
                    any person or entity at any time with or without your
                    consent. You may not assign this privacy policy or delegate
                    any of your obligations hereunder without our prior written
                    consent, and any attempted assignment or delegation without
                    such consent will be void.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text4">
                  <div class="headline10">Headings</div>
                  <div class="subtitle">
                    The headings in this privacy policy are for convenience only
                    and shall not affect the interpretation of this policy.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text3">
                  <div class="headline10">Waiver</div>
                  <div class="subtitle">
                    Our failure to enforce any right or provision of this
                    privacy policy shall not constitute a waiver of such right
                    or provision.
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text2">
                  <div class="headline10">Entire Agreement</div>
                  <div class="subtitle">
                    <p class="welcome-to-the">
                      This privacy policy constitutes the entire agreement
                      between you and [insert company name] with respect to the
                      subject matter of this policy and supersedes all prior or
                      contemporaneous communications and proposals, whether oral
                      or written, between you and [insert company name] with
                      respect to such subject matter.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      Thank you for taking the time to read our privacy policy.
                      If you have any questions or concerns about our privacy
                      practices, please do not hesitate to contact us using the
                      contact details provided.
                    </p>
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text1">
                  <div class="headline10">Contact Us</div>
                  <div class="subtitle">
                    <p class="welcome-to-the">
                      If you have any questions or concerns about our privacy
                      policy, please contact us at [insert contact details]. We
                      will do our best to respond to your inquiry as soon as
                      possible.
                    </p>
                    <p class="welcome-to-the">&nbsp;</p>
                    <p class="welcome-to-the">
                      Thank you for choosing our sentiment analysis services
                      using NLP. We are committed to protecting your privacy and
                      will continue to strive to maintain the highest level of
                      data protection standards.
                    </p>
                  </div>
                </div>
                <div class="text-container10" data-scroll-to="text">
                  <div class="headline10">Effective Date</div>
                  <div class="subtitle">
                    This privacy policy is effective as of June 01st, 2023.
                  </div>
                </div>
                <div class="faq">
                  <div class="text37">Did you find this article helpul?</div>
                  <button class="actions" id="actions">
                    <div class="heart">
                      <div class="heart-icon">
                        <img class="icon18" alt="" src="../public/icon2.svg" />
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="list-of-content">
              <div class="inner-container30">
                <div class="content3">Content</div>
                <div class="links7">
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon3.svg" />
                    </div>
                    <a class="text38" id="text24"
                      >Introduction</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon3.svg" />
                    </div>
                    <a class="text38" id="text23"
                      >Information We Collect</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon3.svg" />
                    </div>
                    <a class="text38" id="text22"
                      >How We Use Your Information</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon3.svg" />
                    </div>
                    <a class="text38" id="text21"
                      >How We Share Your Information</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon3.svg" />
                    </div>
                    <a class="text38" id="text20"
                      >Data Retention</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon3.svg" />
                    </div>
                    <a class="text38" id="text19"
                      >Data Security</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon3.svg" />
                    </div>
                    <a class="text38" id="text18"
                      >Your Rights</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon3.svg" />
                    </div>
                    <a class="text38" id="text17"
                      >Children’s Privacy</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon3.svg" />
                    </div>
                    <a class="text38" id="text16"
                      >International Data Transfers</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon3.svg" />
                    </div>
                    <a class="text38" id="text15"
                      >Cookies and Similar Technologies</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text14"
                      >Third-Party Links</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text13"
                      >California Privacy Rights</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text12"
                      >Governing Law</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text11"
                      >Data Controller Officer</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text10"
                      >Consent and Acceptance</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text9"
                      >Severability</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text8"
                      >Changes to this Privacy Policy</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text7"
                      >Limitation of Liability</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text6"
                      >Indemnification</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text5"
                      >Assignment</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text4"
                      >Headings</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text3"
                      >Waiver</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text2"
                      >Entire Agreement</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text1"
                      >Contact Us</a
                    >
                  </div>
                  <div class="link">
                    <div class="coloured-icon">
                      <img class="icon19" alt="" src="../public/icon4.svg" />
                    </div>
                    <a class="text38" id="text"
                      >Effective Date</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer2">
        <div class="inner-container31">
          <div class="top-horizontal-container1">
            <div class="about-company1">
              <div class="logo1"><div class="text63">Blank</div></div>
              <div class="text-input2">
                <div class="text64">
                  Generate outside the box thinking with the possibility to
                  targtet the low.
                </div>
              </div>
            </div>
            <div class="links-vertical-container1">
              <div class="vertical-container2">
                <div class="heading26"><div class="text65">Access</div></div>
                <div class="links8">
                  <a class="home7" href="/">Home</a
                  ><a class="home7" href="AboutUs">About</a
                  ><a class="home7" href="contact">Contact</a
                  ><a class="home7" href="PrivacyPolicy">Privacy</a>
                </div>
              </div>
              <div class="vertical-container2">
                <div class="heading26"><div class="text65">Product</div></div>
                <div class="links8">
                  <a class="home7" href="Register">Signup</a
                  ><a class="home7" href="Login">Login</a
                  ><a class="home7" href="pricing">Pricing</a
                  ><a class="home7" href="Error">Tutorial</a>
                </div>
              </div>
            </div>
            <div class="subscribe1">
              <div class="heading28"><div class="text65">Subscribe</div></div>
              <div class="text-input3">
                <div class="subheading19">
                  <div class="text68">
                    Want to stay informed about our latest news, updates, and
                    special offers?
                  </div>
                </div>
                <div class="input1">
                  <div class="inner-container32">
                    <input
                      class="search1"
                      type="email"
                      placeholder="Email Address"
                    /><button class="subscribe-button1" id="subscribeButton">
                      <div class="text69">Subscribe</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-horizontal-container1">
            <div class="copyright-text1">
              © 2023 Blank. All Rights Reserved.
            </div>
            <div class="social-icons1">
              <button class="facebook1" id="facebook">
                <div class="facebook-icon1">
                  <div class="capa-21">
                    <div class="elements1">
                      <img
                        class="vector-icon8"
                        alt=""
                        src="../public/vector.svg"
                      />
                    </div>
                  </div>
                </div></button
              ><button class="facebook1" id="instagram">
                <div class="instagram-icon1">
                  <div class="vector-container">
                    <img
                      class="vector-icon8"
                      alt=""
                      src="../public/vector9.svg"
                    />
                  </div>
                </div></button
              ><button class="facebook1" id="linkedin">
                <div class="linkedin-icon1">
                  <div class="group1">
                    <img
                      class="vector-icon8"
                      alt=""
                      src="../public/vector10.svg"
                    />
                  </div>
                </div></button
              ><button class="facebook1" id="gmail">
                <div class="gmail-icon1">
                  <div class="vector-group">
                    <img
                      class="vector-icon11"
                      alt=""
                      src="../public/vector3.svg"
                    /><img
                      class="vector-icon12"
                      alt=""
                      src="../public/vector4.svg"
                    /><img
                      class="vector-icon13"
                      alt=""
                      src="../public/vector5.svg"
                    /><img
                      class="vector-icon14"
                      alt=""
                      src="../public/vector6.svg"
                    /><img
                      class="vector-icon15"
                      alt=""
                      src="../public/vector11.svg"
                    />
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var signUp = document.getElementById("signUp");
      if (signUp) {
        signUp.addEventListener("click", function () {
          window.location.href = "Register";
        });
      }
      
      var loginButton = document.getElementById("loginButton");
      if (loginButton) {
        loginButton.addEventListener("click", function (e) {
          window.location.href = "Login";
        });
      }
      
      var hamburgerIcon = document.getElementById("hamburgerIcon");
      if (hamburgerIcon) {
        hamburgerIcon.addEventListener("click", function () {
          window.location.href = "Error";
        });
      }
      
      var actions = document.getElementById("actions");
      if (actions) {
        actions.addEventListener("click", function () {
          window.location.href = "Error";
        });
      }
      
      var text24 = document.getElementById("text24");
      if (text24) {
        text24.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text24']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text23 = document.getElementById("text23");
      if (text23) {
        text23.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text23']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text22 = document.getElementById("text22");
      if (text22) {
        text22.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text22']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text21 = document.getElementById("text21");
      if (text21) {
        text21.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text21']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text20 = document.getElementById("text20");
      if (text20) {
        text20.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text20']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text19 = document.getElementById("text19");
      if (text19) {
        text19.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text19']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text18 = document.getElementById("text18");
      if (text18) {
        text18.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text18']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text17 = document.getElementById("text17");
      if (text17) {
        text17.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text17']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text16 = document.getElementById("text16");
      if (text16) {
        text16.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text16']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text15 = document.getElementById("text15");
      if (text15) {
        text15.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text15']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text14 = document.getElementById("text14");
      if (text14) {
        text14.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text14']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text13 = document.getElementById("text13");
      if (text13) {
        text13.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text13']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text12 = document.getElementById("text12");
      if (text12) {
        text12.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text12']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text11 = document.getElementById("text11");
      if (text11) {
        text11.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text11']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text10 = document.getElementById("text10");
      if (text10) {
        text10.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text10']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text9 = document.getElementById("text9");
      if (text9) {
        text9.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text9']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text8 = document.getElementById("text8");
      if (text8) {
        text8.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text8']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text7 = document.getElementById("text7");
      if (text7) {
        text7.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text7']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text6 = document.getElementById("text6");
      if (text6) {
        text6.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text6']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text5 = document.getElementById("text5");
      if (text5) {
        text5.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text5']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text4 = document.getElementById("text4");
      if (text4) {
        text4.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text4']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text3 = document.getElementById("text3");
      if (text3) {
        text3.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text3']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text2 = document.getElementById("text2");
      if (text2) {
        text2.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text2']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text1 = document.getElementById("text1");
      if (text1) {
        text1.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text1']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var text = document.getElementById("text");
      if (text) {
        text.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='text']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var subscribeButton = document.getElementById("subscribeButton");
      if (subscribeButton) {
        subscribeButton.addEventListener("click", function () {
          window.location.href = "Error";
        });
      }
      
      var facebook = document.getElementById("facebook");
      if (facebook) {
        facebook.addEventListener("click", function () {
          window.location.href = "https://www.facebook.com/";
        });
      }
      
      var instagram = document.getElementById("instagram");
      if (instagram) {
        instagram.addEventListener("click", function () {
          window.location.href = "https://www.instagram.com/";
        });
      }
      
      var linkedin = document.getElementById("linkedin");
      if (linkedin) {
        linkedin.addEventListener("click", function () {
          window.location.href = "http://linkedin.in/";
        });
      }
      
      var gmail = document.getElementById("gmail");
      if (gmail) {
        gmail.addEventListener("click", function () {
          window.location.href = "https://mail.google.com/mail/u/0/#inbox";
        });
      }
      </script>
  </body>
</html>
