<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/RememberPassword.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="remember-password">
      <nav class="navbar3">
        <div class="internal-nav3">
          <div class="links5">
            <div class="company-logo3">
              <a class="blank3" href="/">Blank</a>
            </div>
            <div class="nav-links3">
              <a class="home5" href="/">Home</a
              ><a class="home5" href="pricing">Pricing</a
              ><a class="home5" href="AboutUs">About</a
              ><a class="home5" href="contact">Contact</a>
            </div>
          </div>
          <div class="buttons5">
            <div class="signup-and-login3">
              <a class="sign-up3" href="Register" id="signUp"
                >Sign up</a
              ><button class="login-button3" id="loginButton">
                <div class="log-in3">Log in</div>
              </button>
            </div>
            <button class="hamburger-icon3" id="hamburgerIcon">
              <img class="icon15" alt="" src="../public/icon.svg" />
            </button>
          </div>
        </div>
      </nav>
      <main class="main2">
        <div class="inner-main2">
          <form class="reset-password-form">
            <div class="heading25">
              <div class="text33">Reset password</div>
              <div class="email-text2">
                <div class="text34">
                  Enter your email to reset your password
                </div>
              </div>
            </div>
            <div class="input-form2">
              <div class="email-box2">
                <label class="label14">Email Address</label
                ><input
                  class="input-box4"
                  type="email"
                  placeholder="Email"
                  required
                />
              </div>
            </div>
            <div class="footer-area2">
              <button class="continue-button" id="continueButton">
                <div class="log-in3">Continue</div></button
              ><button class="cancel-button2" id="cancelButton">
                <div class="text36">Cancel</div>
              </button>
              <div class="footer1">
                <a class="arrow-icon2" href="https://github.com/"
                  ><img class="icon16" alt="" src="../public/icon1.svg" /></a
                ><a class="back-link" href="Login"
                  >Go back to the previous step</a
                >
              </div>
            </div>
          </form>
          <img
            class="remember-password-image"
            alt=""
            src="../public/remember-password-image@2x.png"
          />
        </div>
      </main>
    </div>

    <script>
      var signUp = document.getElementById("signUp");
      if (signUp) {
        signUp.addEventListener("click", function (e) {
          window.location.href = "Register";
        });
      }
      
      var loginButton = document.getElementById("loginButton");
      if (loginButton) {
        loginButton.addEventListener("click", function (e) {
          window.location.href = "Login";
        });
      }
      
      var hamburgerIcon = document.getElementById("hamburgerIcon");
      if (hamburgerIcon) {
        hamburgerIcon.addEventListener("click", function () {
          window.location.href = "Error";
        });
      }
      
      var continueButton = document.getElementById("continueButton");
      if (continueButton) {
        continueButton.addEventListener("click", function () {
          window.location.href = "Error";
        });
      }
      
      var cancelButton = document.getElementById("cancelButton");
      if (cancelButton) {
        cancelButton.addEventListener("click", function () {
          window.location.href = "Login";
        });
      }
      </script>
  </body>
</html>
